* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sfondo {
    width: 100vw;
    height: 100vh;
    background-color: #ffe6cc;
}

.intestazione {
    height: 30vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 10px;
    border: 5px solid white;
    background-image: url('https://66.media.tumblr.com/56859f5691d0b6e0ab8f1de9cc983c28/tumblr_o8lxo7WqNS1ukofkbo2_r6_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
