* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 60vw;
    margin: 0 auto;
}

header {
    position: relative;
    height: 200px;
    background-color: brown;
    margin: 10px 0 0 0;
    border: 3px solid white;
}

.contained {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blue;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: white;
}

.barra {
    height: 50px;
    background-color: black;
    margin-bottom: 10px;
}

.row {
    height: 500px;
    background-color: green;
}

aside {
    position: relative;
    width: 25%;
    height: 100%;
    background-color: blue;
    float: left;
}

main {
    width: 50%;
    height: 100%;
    float: left;
    padding: 0 10px;
    background-color: grey;
}

.sopra {
    position: absolute;
    top: 0;
}

.mezzo {
    position: absolute;
    top: 33%;
}

.sotto {
    position: absolute;
    top: 66%;
}

footer {
    height: 100px;
    margin: 10px 0;
    background-color: antiquewhite;
}
